# Archivos de datos
*.csv
*.gpickle
*.pkl
*.h5
*.log
*.tmp
*.bak

# Archivos generados por notebooks
.ipynb_checkpoints/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de configuración personales
*.env
*.DS_Store
Thumbs.db

# Historial de Jupyter (por si acaso)
.jupyter/

# Carpetas de pruebas o salidas temporales
/tmp/
test-output/
